/*  your css code here. If applicable */
.body{
	display:flax;
	background-color: #f5f5f5
}
.header{
	background-color:#011e29;
	color : white;
	text-align:center;
	padding-block:10px;
}
.LNA{
	float : left;
	justify-content: centre;
	background-color:white;
	width : 25%;
	}
.MA{
	float : left;
	justify-content: centre;
	background-color:white;
	width : 25%;
	height : 155px;
	margin-left:10px;
	text-align:center;
}
.PN{
	float : right;
	text-align: center;
/* 	justify-content: center; */
	background-color:white;
	width : 40%;
	height : 155px;
}