/*  your css code here. If applicable */
.body{
	font-family:Arial,sans-serif;
	background-color: #f5f5f5
}
.header{
	background-color:#011e29;
	color : #fff;
	text-align:center;
	padding:10px;
}
.latest-news-section{
	vertical-align:top;
	display:inline-block;
	background-color: white;
	width : 20%;
	border-radius:20px;
	pading:20px;
	}

.MA{
	vertical-align:top;
	display:inline-block;
	background-color:white;
	width : 40%;
	border-radius:20px;
	padding : 20px;
	text-align:center;
	
}
.pictorial-news-section{
	
	vertical-align:top;
	display:inline-block;
	text-align: center;
	background-color:white;
	width : 20%;
	border-radius:20px
	padding : 20px;
}
.container{
	
	position:relative;
	text-align:center;
	margin-top:10px;
}
.pictorial-news-section img{
	margin-top:10px;
}