/*  your css code here. If applicable */
.body{
	display:flax;
	background-color: #f5f5f5
}
.header{
	background-color:#011e29;
	color : white;
	text-align:center;
	padding-block:10px;
}
.latest-news-section{
	float : left;
	justify-content: centre;
	background-color:white;
	width : 25%;
	border-radius:5%
	}
.MA{
	float : left;
	justify-content: centre;
	background-color:white;
	width : 25%;
	border-radius:5%
	margin-left:50px;
	padding : 20px;
	text-align:center;
	justify-content:center;
	padding : 25;
}
.pictorial-news-section{
	float : right;
	text-align: center;
	margin-top:10px;
	background-color:white;
	width : 40%;
	border-radius:5%
	padding : 25%
}
.fullbody{
	justify-content : center;
}